* {
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

/* BLOC HEADER : */
.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 150px;
  margin: 0 0 40px 0;
  background-color: #0a4769;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* BACKGROUND HEADER : */
.header-background {
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* TITLE : */
}

.header-background h1 {
  font-size: 50px;
  color: white;
}

.header-background .header-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header-background .header-navbar a.icon {
  display: none;
}

@media screen and (max-width: 820px) {
  .header-background .header-navbar a.icon {
    float: right;
    margin-top: 5%;
    display: block;
    color: black;
    font-size: 25px;
    margin-top: 0;
    margin-bottom: auto;
  }
}

.header-background .header-navbar a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 50px;
  text-decoration: none;
  background: #f9f9f9;
  color: #252525;
}

.header-background .header-navbar a:hover {
  color: #f9f9f9;
  background: #252525;
}

.header-background .responsiveNavbar a {
  width: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  vertical-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-background .responsiveNavbar a.icon {
  float: right !important;
  margin-top: 5%;
  display: block;
  color: black;
  font-size: 25px;
}

.global-container {
  display: block;
  margin: 0 auto;
  max-width: 1200px;
}

.global-container .description {
  background: url("../img/background.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.global-container .description .text {
  background-color: rgba(66, 66, 66, 0.15);
  width: 450px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 20px;
}

.global-container .service {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #555555;
}

.global-container .service h2 {
  margin: 60px 0 4% 0;
}

.global-container .service .info-service {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  margin: 0 0 30px 0;
}

.global-container .service .info-service .content {
  margin: 20px;
}

.global-container .service .info-service .content button {
  background-color: transparent;
  border: 1px solid #555555;
  color: #555555;
  padding: 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.global-container .service .info-service .content button:hover {
  background-color: #555555;
  border: 1px solid #555555;
  color: white;
}

.global-container .contact {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #555555;
  margin: 30px 0;
}

.global-container .contact .info-contact {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.global-container .contact .text {
  background-color: #f3f3f3;
  padding: 20px;
  width: 100%;
  text-align: center;
}

.global-container .carousel {
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 700px) {
  .global-container .carousel {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.global-container .carousel div {
  z-index: 1;
  opacity: 1;
  -webkit-transition: width .5s, opacity 1s, -webkit-transform .5s;
  transition: width .5s, opacity 1s, -webkit-transform .5s;
  transition: width .5s, transform .5s, opacity 1s;
  transition: width .5s, transform .5s, opacity 1s, -webkit-transform .5s;
}

.global-container .carousel #hide-prev {
  z-index: 4;
  width: 400px;
  -webkit-transform: translateX(125%);
          transform: translateX(125%);
  opacity: .7;
}

@media screen and (max-width: 700px) {
  .global-container .carousel #hide-prev {
    width: 50%;
    -webkit-transform: translateY(125%);
            transform: translateY(125%);
  }
}

.global-container .carousel #hide-prev img {
  width: 100%;
}

.global-container .carousel #prev {
  z-index: 5;
  width: 600px;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

@media screen and (max-width: 700px) {
  .global-container .carousel #prev {
    width: 75%;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
}

.global-container .carousel #prev img {
  width: 100%;
}

.global-container .carousel #selected {
  z-index: 10;
  width: 800px;
}

@media screen and (max-width: 700px) {
  .global-container .carousel #selected {
    width: 100%;
  }
}

.global-container .carousel #selected img {
  width: 100%;
}

.global-container .carousel #next {
  z-index: 5;
  width: 600px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media screen and (max-width: 700px) {
  .global-container .carousel #next {
    width: 75%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

.global-container .carousel #next img {
  width: 100%;
}

.global-container .carousel #hide-next {
  z-index: 4;
  width: 400px;
  -webkit-transform: translateX(-125%);
          transform: translateX(-125%);
  opacity: .7;
}

@media screen and (max-width: 700px) {
  .global-container .carousel #hide-next {
    width: 50%;
    -webkit-transform: translateY(-125%);
            transform: translateY(-125%);
  }
}

.global-container .carousel #hide-next img {
  width: 100%;
}
/*# sourceMappingURL=styles.css.map */